---
import Layout from "../layouts/Layout.astro";
import data from "../../public/data.json";
import HeaderAbout from "../components/about/header";
import FeaturesAbout from "../components/about/features";
import FeaturesAbout2 from "../components/about/features2";
import TeamAbout from "../components/about/team";
import FooterAbout from "../components/about/footer";
import Accordion from "../components/about/accordion";
import Feature from "../components/about/feature";
import StatsData from "../components/about/stats";
import Partenaires from "../components/about/partenaires";
import type { only } from "node:test";
---

<Layout title="A Propos">
  <main>
    <HeaderAbout client:only="react" />
    <FeaturesAbout client:only="react" />
    <Feature client:only="react" />
    <FeaturesAbout2 client:only="react" />
    <TeamAbout client:only="react" />
    <Partenaires client:only="react" />
    <FooterAbout client:only="react" />
  </main>
</Layout>
