---
import Layout from '../../layouts/Layout.astro';
import HeaderLanding from "../../components/news/header"
import BlogPots from "../../components/news/blog"
import FooterSection from "../../components/landing/footer"
import { getSinglePage } from "../../lib/contentParser.astro";
import { sortByDate } from "../../utils/sortFunctions";

const posts = await getSinglePage("actualites");
const sortedPosts = sortByDate(posts);
const unePost = sortedPosts.filter((item) => item.data.une);
const recentPost = sortedPosts.filter((item) => !item.data.une);
---

<Layout title="Actualités">
	<main>
    <HeaderLanding client:only="react" une={unePost} />
    <BlogPots client:only="react"/>
    <FooterSection client:only="react"/>
  </main>
</Layout>