---
export interface Props {
  title: string;
  metaDescription?: string;
}

const { title, metaDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title} | Cartographie des initiatives d’observation citoyenne des élections en Afrique</title>
    <meta name="description" content={metaDescription} />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href="https://www.creative-tim.com/astro/" />
  </head>
  <body class="overflow-x-hidden">
    <slot />
  </body>
  <script
    src="https://kit.fontawesome.com/349ee9c857.js"
    crossOrigin="anonymous"
  ></script>
</html>
<style is:global>
  body {
    font-family: "Onest", sans-serif;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
